{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-recipeindexpage{% endblock %}


{% block content %}
<div class="recipe-index-page">
    {% image page.title_image original as title_image %}
    <div class="d-flex flex-column align-items-center justify-content-center p-4" 
        style="background-image:url('{{ title_image.url }}');  background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;"
    >
        <div class="bg-danger text-white fs-1 fw-bold rounded pt-2 pb-2 ps-5 pe-5 animate__animated animate__tada">Recipes</div>
    </div>

    <div class="container pb-2">
        <ul class="nav bg-danger p-4 row mt-md-4 mt-0">
            <li class="nav-item col-md-6 col-12 p-2">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if category %}
                            {{ category }}
                        {% else %}
                            All Recipe Categories
                        {% endif %}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="?">All Recipe Categories</a></li>
                        {% for category in categories %}
                            <li><a class="dropdown-item" href="?category={{ category }}">{{ category.category_name }}</a></li>
                        {% endfor %}
                    </ul>
                  </div>
            </li>
            <li class="nav-item col-md-6 col-12 mt-md-0 mt-3 p-2">
                <form class="d-flex " role="search" action="{% url 'search' %}" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search Recipes" aria-label="Search" name="query">
                    <button class="btn btn-dark" type="submit">
                        <i class="ri-search-line"></i>
                    </button>
                </form>
            </li>
        </ul>

        <div class="container mt-5 mb-5 py-5">
            <div class="row g-5">
                {% for recipe in recipes %}
                    {% image recipe.recipe_image original as recipe_image %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <a href="{% pageurl recipe %}" class="text-decoration-none">
                            <div class="recipe-card card p-2 shadow" 
                            style="background-image: url('{{ recipe_image.url }}');  background-size: cover;
                                background-position: center center;
                                background-repeat: no-repeat;"
                                data-image-url = "{{ recipe_image.url }}"

                                >
                                <div class="recipe-card-title fw-bold fs-6 rounded bg-danger">{{ recipe.recipe_title}}</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            
            <div class="mt-5">
                {% if recipes.paginator.num_pages > 1 %}
                    {% block pagination %}
                        {% include "includes/pagination.html" %}
                    {% endblock %}
                {% endif %}
            </div>
        </div>
    </div>    
</div>

{% endblock content %}
